<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/feature.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <h1>Open Health</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#/features">Services</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/login">Sign Up</a></li>
                <li><a href="/ChatBot">Medical ChatBot</a></li>
            </ul>
        </nav>
    </div>
    <div class="card-container">
        <!-- Card 1 for Lung Cancer -->
        <div class="card">
            <img src="../static/repo_images/lungcancer.avif" alt="Lung Cancer">
            <div class="card-content">
                <h3>Lung Cancer</h3>
                <p>Lung cancer is a malignant tumor that starts in the cells of the lung, often associated with smoking but can also occur in non-smokers, leading to symptoms such as persistent cough, and difficulty breathing.</p>
                <a href='/lung'class="btn">Try It</a>
            </div>
        </div>

        <!-- Card 3 for Brain Tumor -->

        <div class="card">
            <img src="../static/test_images/brain_tumor_1.png" alt="Brain Tumor">
            <div class="card-content">
                <h3>Brain Tumor</h3>
                <p>A brain tumor is an abnormal growth of cells within the brain or the skull, which can cause various neurological symptoms depending on its location and size.</p>
                <a href="/brainTumor" class="btn">Try It</a>
            </div>
        </div>
</body>
</html>
